<div class="container">
<div class="row">
<p id="notice"><%= notice %></p>       
<center>  <h4>Listing Invoices</h4></center>
<hr>

<div class="row">
<div class="input-field col s6 range-query">
  <%= form_tag dispatches_path, method: :get do %>
    <%= text_field_tag 'search[date_from]', @search.date_from %>
    </div>
    <div class="input-field col s6 range-query">
    <%= text_field_tag 'search[date_to]', @search.date_to %></div>
    
    <%= submit_tag 'Search', class: "waves-effect waves-light btn" %>
   
  <% end %>
</div>
</div> 
<table class="striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Company</th>
      <th>Tax</th>
      <th>Salesperson</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispatches.each do |dispatch| %>
      <tr>
        <td><%= dispatch.date %></td>
        <td><%= dispatch.company %></td>
        <td><%= dispatch.tax %></td>
        <td><%= dispatch.salesperson %></td>
        <td><%= dispatch.status_type%></td>
        <% if current_user%>
        <td><%= link_to 'Show', dispatch , class: "waves-effect waves-light btn"%></td>
        <td><%= link_to 'Edit', edit_dispatch_path(dispatch) , class: "waves-effect waves-light btn"%></td>
        <td><%= link_to 'Destroy', dispatch, method: :delete, data: { confirm: 'Are you sure?' } , class: " red lighten-2 waves-effect waves-light btn"%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
  <% if current_user%>
<%= link_to 'New Dispatch', new_dispatch_path, class: " blue darken-3 waves-effect waves-light btn" %>
<% end %>
</div>
</div>

