<div class="container">
<div class="row">
<p id="notice"><%= notice %></p> 

<p>
  <strong>Date:</strong>
  <%= @dispatch.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @dispatch.company %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @dispatch.tax %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @dispatch.salesperson %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dispatch.status_type %>
</p>

<%= link_to 'Edit', edit_dispatch_path(@dispatch) %> |
<%= link_to 'Back', dispatches_path %>
</div>
</div>
