<div class="container">
<div class="row">
<p id="notice"><%= notice %></p>

<center><h3>Listing Companies</h3></center>


<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manager</th>
      <th>Status</th>
      <th>Terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.manager %></td>
        <td><%= company.status %></td>
        <td><%= company.terms %></td>
        <% if current_user %>
        <td><%= link_to 'Show', company, class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Edit', edit_company_path(company), class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: " red lighten-2 waves-effect waves-light btn" %></td>
      </tr>
    <% end %>
    <%end %>
  </tbody>
</table>

<br>


<% if current_user %>
<%= link_to 'New Company', new_company_path, class: " blue darken-3 waves-effect waves-light btn"  %>
<hr>
<h4>Import Companies</h4>


<%= form_tag import_companies_path, multipart: true do %>
  <%= file_field_tag :file %><br><br>
  <%= submit_tag "Upload Company Info" , class: "waves-effect waves-light btn"%>
<% end %>
<hr>
<h4>Download Company info</h4>
<%= link_to "Company Report", companies_path(format: "csv"), class: "waves-effect waves-light btn"%>
<%end%>

</div>
</div>