<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'init', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

   <nav class="teal lighten-1" role="navbar-fixed">
    <div class="nav-wrapper">
<a href= "" class="brand-logo"> <%= image_tag 'logo.svg'%></a>            
<ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "About Us", welcome_about_path%></li>
        <li><%= link_to "Contact Us", welcome_contact_path%></li>
        <li><%= link_to "FAQ", welcome_faq_path%></li>
        <li><%= link_to "Pricing", welcome_pricing_path%></li>
        <li><%= link_to "Features", welcome_features_path%></li>
        <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
        <%else%>
            <li><%= link_to "Sign up", new_user_registration_path%></li>
            <li><%= link_to "Sign in", new_user_session_path%></li>
        <% end %>

      </ul>
    </div>
  </nav>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
	

</body>
</html>
